{% extends 'wrong/base.html' %}
{% block body %}
<div class="container">
	<div class="row">
		<h2>Search Occurrences</h2>
           <form id="custom-search-input ">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="margin-left: 10px">
                                        <span class=" glyphicon glyphicon-search" style="margin-left: 10px"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
	</div>
</div><br>
<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gerald's Wrong's</h3>
            </div>
</div>
<div class="row" style="margin-left: 2px">
     <div class="col-md-12">
        <h3>Performance Review: {{ percentage_right }}%</h3><br>
         <h3>{{ total_minutes_wrong }}</h3>
         <h3>{{ minutes_in_year }}</h3>
         <h3>{{ minutes_right }}</h3>
         <h3>{{ percentage_right|floatformat:-2}}</h3>
    </div>
    {% if all_occurrences %}
        {% for wrong in all_occurrences %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Subject: <a href="{{ wrong.pk }}">{{ wrong.Subject }}</a></h5>
                        <h6>Date: {{ wrong.DateTime }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h4>There are no wrong's</h4>
    {% endif %}
    </div>
{% endblock %}