{% extends 'wrong/base.html' %}
{% block body %}
<div class="container">
	<div class="row">
		<h2>Search Quotes</h2>
           <form id="custom-search-input ">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="margin-left: 10px">
                                        <span class=" glyphicon glyphicon-search" style="margin-left: 10px"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
	</div>
</div><br>
<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quote's</h3>
            </div>
</div>
<div class="row" style="margin-left: 2px">
    {% if quotes %}
        {% for quote in quotes %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Quote:<br><br> <a href="{{ quote.pk }}">{{ quote.Quote}}</a></h5>
                        <h6>Date: {{ quote.DateTime }}</h6>
                        <h4>-{{ quote.Person }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}